@import "styles/templates.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.modal__birth {
  .MuiInputBase-root {
    width: 100%;
  }
}
.input__date {
  @include flex();
  position: relative;
  width: 100%;
  height: 75px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 67px;
  color: #000000;
  background-color: transparent;
  border-radius: 18px;
  outline: unset;
  cursor: pointer;
  &::-webkit-datetime-edit-month-field:focus {
    background-color: transparent;
    color: white;
    outline: none;
  }
  &::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    color: white;
    outline: none;
  }
}

@media (max-width: 992px) {
  .input__date {
    height: 70px;
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .input__date {
    height: 65px;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .input__date {
    height: 55px;
    font-size: 28px;
  }
}
@media (max-width: 430px) {
  .input__date {
    height: 50px;
    font-size: 24px;
  }
}
@media (max-width: 380px) {
  .input__date {
    height: 40px;
    font-size: 20px;
  }
}
