@import "styles/templates.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.modal__birth {
  @extend %position-element-center;
  max-width: 887px;
  width: 100%;
  background-color: #e8d7c5;
  background-image: url("../../../../assets/modalBirthBackground.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border-radius: 50px;
  padding: 50px 60px;
  height: 550px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .input__email {
    text-align: start;
    padding: 0px 10px;
  }
  &__title {
    max-width: 597px;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #000000;
  }
  &__subTitle {
    max-width: 540px;
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
    color: #000000;
  }
  &__form {
    @include flex();
    flex-direction: column;
    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #ffffff;
      margin-top: 34px;
      margin-bottom: 19px;
    }
    &__button {
      max-width: 286px;
      width: 100%;
      height: 73px;
      margin-top: 34px;
      background: $bg-dark-buttons;
      border: 1px solid $bg-dark-buttons;
      font-weight: 400;
      font-size: 23px;
      line-height: 29px;
      color: #ffffff;
      border-radius: 12px;
      cursor: pointer;
    }
    &__button__disabled {
      max-width: 286px;
      opacity: 0.4;
      width: 100%;
      height: 73px;
      margin-top: 34px;
      background: $bg-dark-buttons;
      border: 1px solid $bg-dark-buttons;
      font-weight: 400;
      font-size: 23px;
      line-height: 29px;
      color: #ffffff;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1110px) {
  .modal__birth {
    max-width: 840px;
    padding: 40px 50px;
    &__title {
      font-size: 45px;
    }
    &__subTitle {
      max-width: 480px;
      font-size: 45px;
    }
    &__form__title {
      font-size: 38px;
    }
    &__form__button {
      height: 70px;
    }
    &__button__disabled {
      height: 70px;
    }
  }
}

@media (max-width: 992px) {
  .modal__birth {
    width: calc(100% - 50px);
    padding: 30px;
    border-radius: 30px;
    &__title {
      font-size: 39px;
    }
    &__subTitle {
      font-size: 39px;
    }
    &__form__title {
      margin-top: 25px;
      font-size: 34px;
    }
    &__form__button {
      height: 60px;
      font-size: 22px;
    }
    &__button__disabled {
      height: 60px;
      font-size: 22px;
    }
  }
}

@media (max-width: 740px) {
  .modal__birth {
    background-image: unset;
    padding: 20px;
    &__title {
      font-size: 30px;
      line-height: 50px;
      text-align: center;
    }
    &__subTitle {
      max-width: unset;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
    &__form__title {
      margin-top: 20px;
      font-size: 28px;
    }
  }
}
@media (max-width: 500px) {
  .modal__birth {
    padding: 18px;
    &__title {
      font-size: 29px;
    }
    &__subTitle {
      font-size: 27px;
      line-height: 30px;
    }
    &__form__title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 26px;
    }
    &__form__button {
      height: 50px;
      font-size: 20px;
      margin-top: 25px;
    }
    &__button__disabled {
      height: 50px;
      font-size: 20px;
      margin-top: 25px;
    }
  }
}
@media (max-width: 430px) {
  .modal__birth {
    width: calc(100% - 30px);
    &__title {
      font-size: 25px;
      line-height: 40px;
    }
    &__subTitle {
      font-size: 22px;
      line-height: 25px;
    }
    &__form__title {
      margin-top: 8px;
      margin-bottom: 0px;
      font-size: 22px;
    }
    &__form__button {
      height: 43px;
      font-size: 18px;
      margin-top: 22px;
    }
    &__button__disabled {
      height: 43px;
      font-size: 18px;
      margin-top: 22px;
    }
  }
}
@media (max-width: 380px) {
  .modal__birth {
    width: calc(100% - 20px);
    &__title {
      font-size: 22px;
      line-height: 30px;
    }
    &__subTitle {
      font-size: 19px;
      line-height: 23px;
    }
    &__form__title {
      margin-top: 4px;
      margin-bottom: 0px;
      font-size: 20px;
    }
    &__form__button {
      height: 40px;
      font-size: 16px;
      margin-top: 20px;
    }
    &__button__disabled {
      height: 40px;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
